.d-flex{
    display: flex;

    .left{
        width: 20%;
        height: 85vh;
        border: 1px solid red;
    }

    .right {
        width: 75%;
        height: 85vh;
        border: 1px solid blue;
    }
}