.todoList {
    width: 400px;
    border: 1px solid #eeeeee;
    padding: 10px;
    margin:0 auto;

    h3{
        text-align: center;
    }

   .form_input{
    input {
        height: 30px;
        width: 95%;
    }
   } 
}