.text-center{
    text-align: center;
}

.people-list {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #eeeeee;
    padding: 10px;

    button{
        width: 50px;
        height: 30px;
        padding: 5px;
    }
}